*{
  box-sizing: border-box;
}
h1,h2{
  padding: 0;
  margin: 0;
}
html,body{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
body{
  max-width: 100%;
  min-height: 100vh;
 
}
.sec-1{
  width: 100%;
  min-height: 120vh;
  background-image: url(/img/hero.svg); 
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
}
img{
  max-width: 100%;
}
 /* header{
   background-color: purple;
}    */

nav{
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(112,107,230, .2);
}
.logo-cont{
  width: 23%;
  background-color: transparent;
}
.logo{
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
}
.nav-links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links div,a{
  padding: .5rem 1rem;
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.sign-up button{
  padding: .7rem 2rem;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 1rem;
  border-radius: 4px;
}
.theme-select-cont{
  display: flex;
  justify-content: center;
  align-items: center;
}
.theme-selector{
  width: 3rem;
  height: 1rem;
  border: 1px solid rgba(0,0,0, .1);
  background-color: rgb(203,203,203);
  border-radius: 50px;
}
.selector-btn1{
  width: 4px;
  height: 30px;
  border-radius: 100%;
  background-color: rgb(34,37,88);
  position: relative;
  left: 1.5rem;
}
.intro-cont{
  width: 70%;
  min-height: 50vh;
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 4rem;
}
.intro-descp{
  margin-right: 3rem;
}
.city-img{
  margin-left: 1rem;
}
.intro-descp h1{
  width: 25vw;
  font-size: 2.8rem;
  font-weight: bolder;
  color: rgb(61,57,107);
  margin: 0;
  padding: 0;
  line-height: 3rem;
}
.intro-descp p{
  margin: 0;
  color: rgb(61,57,107);
  font-weight: 367;
  font-size: 1.1rem;
  word-spacing: .1rem;
}
.email{
  width: 25rem;
  height: 3.5rem;
  border: 1px solid rgba(0,0,0, .1);
  border-radius: 50px;
  box-shadow: 2px 2px 10px rgba(0,0,0, .1);
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.email img{
  margin-left: 1rem;
}
.email input{
  width: 20rem;
  padding-top: .3rem;
  margin: .5rem .5rem;
  font-size: 1.1rem;
  outline: none;
  border: none;
}
.email input::placeholder{
  color: rgba(0,0,0, .2);
  font-size: 1rem;
}
.send-icon{
  width: 4rem;
  height: 3.5rem;
  background-color: rgb(109,107,230);
  border-radius: 100%;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 10px 2px rgb(109,107,230, .2);
}
.sec-2{
  width: 100%;
  height: 120vh;
  background-image: url(./img/feature1.svg);
  background-position: left;
  background-size: 90%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 50rem;
  padding: 4rem 10rem;
  margin-bottom: 0;
  z-index: 2;
}
.city2-img img{
  width: 28rem;
  height: 27rem;
  position: relative;
  bottom: 2.5rem;
  left: .1rem;
}
.crypto{
  width: 6.5rem;
  height: 5rem;
  border: 1px solid rgba(0,0,0, .1);
  box-shadow: 2px 2px 5px 8px rgb(251,251,251);
  background-color: white;
  margin: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 7%;
}
.crypto img{
  width: 5rem;
  height: 3rem;
}
.cryptos-cont{
  display: flex;
  flex-wrap: wrap;
}
.fast-trans{
  width: 32rem;
  margin-top: 7rem;
  margin-left: 10rem;
  animation-name: entry;
  animation-duration: 7s;
  padding-bottom: 0;
  
}
@keyframes entry{
  10%{
    transform: scale(0.5);
    opacity: 0;
  }
  20%{
    opacity: 1;
  }
}
.writeup{
  width: 27rem;
 
}
.writeup h1{
  font-size: 2rem;
  font-weight: bolder;
  color: rgb(61,57,107);
  margin: 0;
  padding: 0;
}
.writeup p{
  margin: .5rem auto;
  color:rgb(148,139,191);
  font-weight: 380;
  font-size: 1rem;
  word-spacing: .1rem;
}
.cube{
  width: 25rem;
  height: 25rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 30.3rem;
  left: 12rem;
 
}
.cubes-img{
  width: 7rem;
  height: 7rem;  
}
.cubes-img-anim{
  transform: rotate(-70deg); 
  animation: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  opacity: .5;
}
@keyframes bounce{
  50%{
    margin-top: 1rem;
  }
  100%{
    margin-bottom: 0;
  }
}
.center-line{
  width: 0;
  height: 7rem;
  border: 1px solid rgb(108,117,251);
  margin: auto;
  position: relative;
  bottom: 4rem;
  margin-bottom: 0;
}
.how-it-works-cont{
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(246,249,254);
  z-index: 3;
  position: relative;
  top: 25rem
}
.watermark{
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
  bottom: 4rem;
  color: rgba(57,53,99, .1);
  text-transform: capitalize;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.hiw{
  /* hiw stands for "how-it-works" */
  text-align: center;
  font-size: 2.5rem;
  color: rgb(57,53,99);
  position: relative;
  bottom: 7rem;
  letter-spacing: .1rem;
}
.hiw-sub{
  font-size: 1.4rem;
  color: rgba(0,0,0, .4);
  text-align: center;
  position: relative;
  bottom: 8.5rem;
  font-weight: 400;
  letter-spacing: .1rem;
}
.cube2{
  width: 15rem;
  height: 15rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  position: relative;
  bottom: 20rem;
  margin-right: 7rem;
}
.deals{
  max-width: 63vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 7rem;
}
.deal{
  width: 28rem;
  height: 6rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0, .1);
  padding: 1rem;
  box-shadow: 1px 5px 7px rgba(0,0,0, .1);
  margin-bottom: 1rem;
}
/* .deals-cont{
  margin-right: 4rem;
}  */
.deal-title-cont{
  width: 10rem;
  margin: 0 .9rem;
}
.deal-title{
  font-size: .9rem;
  font-weight: bold;
  color: rgb(34,37,88);
}
.post-time{
  display: block;
  font-size: .4rem;
  color: rgba(0,0,0, .4);
}
.pay-meth{
  margin-right: 2rem;
  margin-bottom: .8rem;
  width: 5rem;
}
.icon-title{
  font-size: .6rem;
  color: rgba(0,0,0, .4);
}
.people{
  margin-bottom: .8rem;
  margin-right: 0;
}
.people-img{
  display: flex;
  margin-top: 5px;
}
.tons-of-deals{
  max-width: 30rem;
}
.tons-of-deals h1{
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(61,57,107);
  margin: 0;
  padding: 0;
}
.tons-of-deals p{
  margin-top: .4rem;
  color: rgb(89,84,156);
  font-weight: 300;
  font-size: 1.07rem;
  word-spacing: .1rem;
}
.deal:hover{
  cursor: pointer;
  background-color: rgba(0,0,0, .1);
}
.crypto:hover{
  cursor: pointer;
  background-color: rgba(0,0,0, .1);
}
.benefit-cont{
  margin-left: 14rem;
  margin-top: 5rem;
  left: 0;
}